.collection__container {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2.5rem, 2rem;
    text-align: center;
  }
  @media screen and (min-width: 576px) {
    .collection__container {
      grid-template-columns: repeat(2, 1fr);
    }

  }
  @media screen and (min-width: 992px) {
    .collection__container {
      grid-template-columns: repeat(3, 1fr);
    }

  }